{% extends "network/layout.html" %}

{% block body %}
    <div class="main">
        {% if user.is_authenticated %}
        <div class="newpost">
            <h3>New post</h3>
            <form class="newpostform" method="POST" action="{% url 'newpost' %}"> 
                {% csrf_token %}
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content" placeholder="What's happening today?"></textarea>
                {% if messages %}
                    <ul class="messages" style="padding:0px; margin-top: 10px;">
                    {% for message in messages %}
                        <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}
                    </ul>
                {% endif %}
                 <button type="submit" class="btn btn-secondary">Post</button>
            </form>
        </div>
        {% endif %}
        <h2 style="margin:10px">All posts</h2>
        {% for post in page_obj %}
        <div class="post">
            <div style="margin:auto;">
                <a href="{% url 'userprofile' post.user %}"><img src="{{ post.user.image }}" class="profilepicture"></a>
            </div>
            <div>
                <p class="thevalue" style="display:none" data-value="{{ post.id }}">{{ post.id }}</p>
                <a href="{% url 'userprofile' post.user %}" ><p class="userlink" >{{ post.user }}</p></a>
                <div style="display:block" id="content">
                    <p class="content">{{ post.content }}</p>
                </div>
                <div style="display:none" id="edittext">
                        <input class="form-control edittext" id="exampleFormControlTextarea1" rows="3" name="content">
                        <button type="submit" class="btn btn-secondary btn-sm save">Save</button>
                </div>
                <p {% if post.id in likes %}
                        {class="likecount"><i id="heart" class='fa fa-heart red-color'}
                    {% else %}
                        {class="likecount"><i id="heart" class='fa fa-heart-o' aria-hidden="true"}
                    {% endif %}
                ></i> <span class="counting"> {{ post.count }} </span> </p>
                <p class="postdate">{{ post.date }}</p>
                {% if post.user == user %}
                    <button type="submit" class="btn btn-secondary btn-sm edit" >Edit</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="pagination">
            <span class="pagination">
                {% if page_obj.has_previous %}
                    <a class="page-link" href="?page=1">&laquo; 1</a>
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="page-link">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}