{% extends "encyclopedia/layout.html" %}

{% block title %}
    edit
{% endblock %}

{% block body %}
    <h1>Edit {{title}} page.</h1>
    <form method="POST" action="{% url 'encyclopedia:editpage' title %}">
        <div class="mb-3">
            {% csrf_token %}
            <textarea name="content" class="form-control" rows="15" >{{content}}</textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div> 
    </form>
         
    
{% endblock %}