{% extends "layout.html" %}

{% block title %}
  HISTORY
{% endblock %}

{% block main %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Shares</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Transacted</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for count in counts %}
                            <tr>
                               <td name="{{count.symbol}}">{{count.symbol}}</td>
                              {%if count.type == sold %}
                               <td> - {{count.shares}} </td>
                               {% else %}
                               <td> {{count.shares}} </td>
                              {% endif %}
                              {%if count.name == ""%}
                                   <td>-</td>
                              {%else%}
                               <td>{{count.name}}</td>
                              {% endif %}
                               <td>{{count.price | usd}}</td> 
                               <td>{{count.time}}</td> 
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
{% endblock %}
